{% extends "base.html" %}

{% block title %}Most Played Sounds{% endblock %}

{% block content %}
<h1 class="mb-4">Most Played Sounds</h1>
<div class="row">
    {% for sound in top_played_sounds %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ sound.title }}</h5>
                <p class="card-text">Plays: {{ sound.play_count }}</p>
                <a href="{{ url_for('post', post_id=sound.id) }}" class="btn btn-primary">Listen</a>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">Author: {{ sound.author.username}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}